In [ ]:
# instalar as bibliotecas
# !pip install pandas openpyxl numpy

In [39]:
import pandas as pd

# importar as tabelas
tbBase = pd.read_excel("PlanilhaBase.xlsx")
tbTeste = pd.read_excel("Teste.xlsx")
# display(tbTeste)
# tratar a tabela base
tbBase = tbBase.drop(columns="data")
tbBase = tbBase.dropna()
# tbBase.info()
# display(tbBase)
tbBase = tbBase.drop_duplicates(subset=["descrição"], keep="first")
# display(tbBase["descrição"].value_counts())

# entrar em cada linha de coluna descrição na 'tbTeste'
# entrar em cada linha de coluna descrição na 'tbBase' e conferir se alguma dessa linha bate com a linha selecionada na 'tbTeste'
# se bater as linhas, pegar o valor nas colunas "classificação" e "grupo" na 'tbBase' e colocar na 'tbTeste'
tbTeste["classificação"] = pd.NA
tbTeste["grupo"] = pd.NA

for linhaTeste in tbTeste["descrição"]:
    for linhaBase in tbBase["descrição"]:
        if linhaTeste == linhaBase:
            tbTeste.loc[tbTeste["descrição"] == linhaTeste, "classificação"] = tbBase.loc[tbBase["descrição"] == linhaBase, "classificação"]

display(tbTeste)

                    descrição    valor  classificação grupo
0       TBI 6967.04953-4LocAP -2743.66     Aluguel AP  <NA>
1       TBI 6967.19554-3LocAP -2743.66     Aluguel AP  <NA>
2    PIX TRANSF  FREDERI03/10 -2593.50       Deb-Cred  <NA>
3    PIX TRANSF  STAR CO03/10  -330.00  Contabilidade  <NA>
4    PIX TRANSF  DALGI S03/10 -2593.50       Deb-Cred  <NA>
..                        ...      ...            ...   ...
186      Uber   *uber   *trip   -29.90            NaN  <NA>
187      Dm          *spotify   -34.90            NaN  <NA>
188                      Petz  -122.01            NaN  <NA>
189   Gol Linhas Aereas 04/06   -83.35            NaN  <NA>
190   Azul We*ejg93dcost03/04  -541.71            NaN  <NA>

[191 rows x 4 columns]